#apprenants {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}

#modal {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 2.5rem 2.5rem 2rem 2.5rem;
}

#modal-details {
    margin-left: 1rem;
}

#modal-details h3 {
    padding-left: 1rem;
}

#modal>* {
    width: 100%;
}
#modal div:first-child {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    margin-bottom: 1rem;
}

#modal th {
    background-color: unset;
    color: var(--color-text);
}

#modal p {
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    #modal-details {
        margin-top: 1rem;
        margin-left: 0;
    }
    #modal-details h3 {
        padding-left: 0;
    }
}