[data-theme="dark"] {
    --color-text: rgb(211, 211, 211);
    --color-heading: rgb(124, 161, 220);
    --color-subheading : hsl(0, 0%, 60%);
    --color-background: #0c0c0d;
    --color-middle: #242526;
    --color-top: rgb(61, 62, 64);
    --color-link: hsl(32, 39%, 56%);
    --color-button: rgb(59, 97, 157);
    --color-button-stroke: rgb(112, 163, 245);
    --color-button-text: white;
    --color-button-shadow: hsl(217, 87%, 70%);
    --color-button-outlined: #242526;
    --color-button-outlined-stroke: rgb(112, 163, 245);
    --color-button-outlined-text: rgb(112, 163, 245);
    --color-button-outlined-active: #242526;
    --color-button-outlined-active-stroke: rgb(211, 211, 211);
    --color-button-outlined-active-text: rgb(211, 211, 211);
    --color-button-secondary: rgb(91, 92, 94);
    --color-button-secondary-stroke: rgb(91, 92, 94);
    --color-button-secondary-text: rgb(211, 211, 211);
}
[data-theme='dark'] [role="radio"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1rem' width='1rem' style='forced-color-adjust: auto;'%3E%3Ccircle cx='0.5rem' cy='0.5rem' r='0.45rem' stroke='rgb(211, 211, 211)' fill='rgb(61, 62, 64)' stroke-width='2' fill-opacity='100' /%3E%3C/svg%3E");
}
[data-theme='dark'] [role="radio"][aria-checked="true"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1rem' width='1rem' style='forced-color-adjust: auto;'%3E%3Ccircle cx='0.5rem' cy='0.5rem' r='0.45rem' stroke='rgb(211, 211, 211)' fill='rgb(61, 62, 64)' stroke-width='2' fill-opacity='100'/%3E%3Ccircle cx='0.5rem' cy='0.5rem' r='0.2rem' fill='rgb(202, 156, 104)' stroke-opacity='0' /%3E%3C/svg%3E");
}


[data-theme="light"] {
    --color-text: rgb(68, 68, 68);
    --color-heading: hsl(212, 84%, 35%);
    --color-subheading: hsl(215, 100%, 67%);
    --color-background: hsl(216, 6%, 90%);
    --color-middle: hsl(212, 10%, 98%);
    --color-top: hsl(0, 0%, 93%);
    --color-link: rgb(52, 167, 96);
    --color-button: hsl(212, 84%, 35%);
    --color-button-stroke: hsl(217, 80%, 55%);
    --color-button-text: hsl(0, 0%, 90%);
    --color-button-shadow: hsl(217, 49%, 15%);
    --color-button-outlined: rgb(185, 205, 239);
    --color-button-outlined-stroke: rgb(185, 205, 239);
    --color-button-outlined-text: hsl(216, 37%, 37%);
    --color-button-outlined-active: hsl(216, 6%, 85%);
    --color-button-outlined-active-stroke: hsl(216, 6%, 85%);
    --color-button-outlined-active-text: rgb(101, 101, 101);
    --color-button-secondary: rgb(255, 255, 255);
    --color-button-secondary-stroke: rgb(196, 196, 196);
    --color-button-secondary-text: rgb(101, 101, 101);
}
[data-theme='light'] [role="radio"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1rem' width='1rem' style='forced-color-adjust: auto;'%3E%3Ccircle cx='0.5rem' cy='0.5rem' r='0.45rem' stroke='rgb(104, 104, 104)' stroke-width='2' fill-opacity='0' /%3E%3C/svg%3E");
}
[data-theme='light'] [role="radio"][aria-checked="true"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1rem' width='1rem' style='forced-color-adjust: auto;'%3E%3Ccircle cx='0.5rem' cy='0.5rem' r='0.45rem' stroke='rgb(104, 104, 104)' stroke-width='2' fill-opacity='0'/%3E%3Ccircle cx='0.5rem' cy='0.5rem' r='0.2rem' fill='rgb(66, 194, 115)' stroke-opacity='0' /%3E%3C/svg%3E");
}
[data-theme='light'] h3 {
    font-weight: bold;
}



* {
    border-radius: 0.3rem;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 12pt;
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: var(--color-text);
    font-weight: normal;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
}
h2:first-child {
    margin-top: 0;
}

h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: var(--color-heading);
    font-size: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.3rem;
}
h3:first-child {
    margin-top: 0;
}

h4 {
    color: var(--color-subheading);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.625rem;
    text-transform: none;
    font-variant-caps: small-caps;
}
h4:first-child {
    margin-top: 0;
}

p {
    color: var(--color-text);
}

ul {
    background-color: var(--color-top);
    list-style-type: square;
}

li::marker {
    color:var(--color-heading);
}

a:not(nav ul li a),
a:not(nav ul li a):visited {
    color: var(--color-link);
    font-weight: bold;
    text-decoration: none;
}

a:not(nav ul li a):hover {
    text-decoration: underline;
}

button {
    display: inline-block;
    border: 0.1rem solid var(--color-button-secondary-stroke);
    padding: 1rem;
    background-color: var(--color-button-secondary);
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    color: var(--color-button-secondary-text);
    font-size: 1rem;
}

button:first-child {
    background-color: var(--color-button);
    border-color: var(--color-button);
    color: var(--color-button-text);
}

dialog {
    border: 0;
    background-color: var(--color-middle);
}

dialog::backdrop {
    background-color: rgba(0,0,0,80%);
}

/* Aria */
[role="radiogroup"] {
    list-style: none;
}

[role="radiogroup"]:focus {
    outline: none;
}

[role="radio"] {
    padding: 0.2rem 0.5rem;
    margin-right: 2rem;
    border: 0.1rem solid transparent;
    display: inline-block;
    position: relative;
    cursor: default;
    outline: none;
}

[role="radio"]:last-child {
    margin-right: 0;
}

[role="radio"]::before {
    position: relative;
    top: 0.125rem;
    margin-right: 0.3rem;
}

[role="radio"][aria-checked="true"]::before {
    position: relative;
    top: 0.125rem;
    margin-right: 0.3rem;
}

[role="radio"].focus,
[role="radio"]:hover {
    border: 0.1rem solid #005a9c;
    background-color: var(--color-top);
    cursor: pointer;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--color-middle);
    margin: 0 0 2rem;
}

#nav-logo {
    display: block;
    height: 5.5rem;
    aspect-ratio: 1/1;
    background-size:contain;
}

nav button {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 0.75rem;
}

nav ul li {
    display: inline-block;
    margin: 0 0.25rem;
    background-color: var(--color-button-outlined);
    border: 0.1rem solid var(--color-button-outlined-stroke);
    cursor: pointer;
    color: var(--color-button-outlined-text);
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

nav ul li:hover:not(.nav-active),
button:hover {
    background-color: var(--color-button-stroke);
    box-shadow: 0 0 15px -5px var(--color-button-stroke);
    color: var(--color-middle);
    border-color: var(--color-button-stroke);
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

nav ul li a {
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
}

.nav-active {
    background-color: var(--color-button-outlined-active);
    border: 0.1rem solid var(--color-button-outlined-active-stroke);
    color: var(--color-button-outlined-active-text);
}

.nav-active:hover {
    border: 0.1rem solid var(--color-text);
    background-color: var(--color-button-secondary);
}

/* Main */
main {
    margin: 0 3rem 1rem;
    padding-top: 7rem;
}

main>div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main>div>div {
    background-color: var(--color-middle);
    flex-grow: 1;
    padding: 2rem 1rem;
    margin: 0.5rem;
}

main>div>div>p {
    padding-left: 1.5rem;
}


/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

div:has(table) {
    overflow: scroll;
}

th,
td {
    padding: 0.5rem 1rem;
    color: var(--color-text);
}

th {
    color: var(--color-button-text);
    border-radius: 0;
    background-color: var(--color-button);
}

tbody tr:nth-child(even) {
    background-color: var(--color-top);
}

.card {
    flex-grow: 1;
    padding: 1rem;
    background-color: var(--color-top);
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 1.3rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    nav ul {
        flex-flow: column nowrap;
        position: absolute;
        top: 3rem;
        width: 100%;
        gap: 0.3rem;
    }

    nav ul li {
        margin: 0 1rem;
    }

    nav ul li:last-child {
        margin-bottom: 1rem;
    }

    nav button {
        display: block;
        padding: 0.55rem;
        margin: 0;
    }

    main {
        margin: 0 0.3rem;
        padding-top: 4rem;
    }

    #nav-logo {
        height: 3em;
    }
}